body {
    background: #eee;
}

body.login {
    background: #0296cc;
    background: -moz-linear-gradient(top, #0296cc 0%, #01678c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0296cc), color-stop(100%, #01678c));
    background: -webkit-linear-gradient(top, #0296cc 0%, #01678c 100%);
    background: -o-linear-gradient(top, #0296cc 0%, #01678c 100%);
    background: -ms-linear-gradient(top, #0296cc 0%, #01678c 100%);
    background: linear-gradient(to bottom, #0296cc 0%, #01678c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0296cc', endColorstr='#01678c', GradientType=0);
    height: auto !important;
    min-height: 100%;
}

.login form {
    background: #fff;
    padding: 50px;
    border-radius: 5px;
}

form#loginform p:first-child:before {
    content: "Login uw account";
    display: block;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    color: #027AA5;
    margin: 0px 0 15px;
}

.login #nav {
    margin: 0;
    display: block;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    color: #878797;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
}

.login #nav a {
    color: #878797;
    padding: 20px 0;
    display: block;
}

#login_error,
.login .message {
    border-radius: 5px;
}

.login #backtoblog {
    text-align: center;
}

.login #backtoblog a {
    color: #fff;
}

#login {
    width: 400px;
    max-width: 100%;
    padding: 5% 0 0;
    margin: 0 auto;
}

.login label {
    color: #fff;
    width: 100%;
}

.login label[for="rememberme"] {
    color: #333;
}

.login input[type=text],
.login input[type=password] {
    padding: 2px 10px;
}

.login form .input,
.login form input[type=checkbox],
.login input[type=text] {
    border-radius: 4px;
    margin: 0;
}

.login form {
    background: #fff;
    padding: 40px 40px 60px 40px;
    border-radius: 5px;
    overflow: hidden;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#login .submit {
    float: none;
    display: block;
}

#login .forgetmenot {
    position: absolute;
    margin-top: 75px;
}

#login #wp-submit {
    float: none;
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    line-height: 44px;
    height: 43px;
    margin-top: 20px;
    border: none !important;
    box-shadow: none !Important;
    border-radius: 4px;
}

#_header_titel,
#_header_subtitel {
    height: 28px;
    margin-left: 10px;
}

.admin-table img {
    max-height: 200px;
    width: auto;
    margin: 10px;
}

.customH3 {
    border-bottom: 1px solid #eee;
    background: #333;
    margin: -10px;
    margin-bottom: 27px;
    padding: 10px 9px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.admin-table {
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    margin-top: 50px;
    overflow: hidden;
}

.admin-table th {
    padding: 0 10px;
}

.inputHolder {
    display: block;
    height: 35px;
    line-height: 35px;
}

.clearfix {
    clear: both;
}

.inputHolder:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.inputHolder .lefty {
    width: 33%;
    float: left;
    max-width: 250px;
    text-transform: capitalize;
}

.inputHolder .righty {
    width: 67%;
    float: left;
}

.social-media-info {
    width: 33%;
    max-width: 130px;
    display: block;
    float: left;
    text-align: right;
}

.spinnerrr {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinnerrr > div {
    background-color: #0073AA;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinnerrr .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinnerrr .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinnerrr .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinnerrr .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
